USE [master]
GO
/****** Object:  Database [FlightBookingPC]    Script Date: 28.03.2021 20:02:23 ******/
CREATE DATABASE [FlightBookingPC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightBookingPC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FlightBookingPC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlightBookingPC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FlightBookingPC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightBookingPC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightBookingPC]
GO
/****** Object:  Table [dbo].[AirCraft]    Script Date: 28.03.2021 20:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirCraft](
	[AirCraft ID] [int] IDENTITY(0,1) NOT NULL,
	[AirPort ID] [int] NOT NULL,
	[AirCraft Name] [nvarchar](50) NULL,
	[Business Class Capacity] [int] NULL,
	[Economy Class Capacity] [int] NULL,
 CONSTRAINT [PK_AirCraft] PRIMARY KEY CLUSTERED 
(
	[AirCraft ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirPorts]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirPorts](
	[Airport ID] [int] IDENTITY(0,1) NOT NULL,
	[Airport Name] [nvarchar](50) NOT NULL,
	[Airport Location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AirPorts] PRIMARY KEY CLUSTERED 
(
	[Airport ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booked Ticket]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booked Ticket](
	[Booked ID] [int] IDENTITY(0,1) NOT NULL,
	[Passenger ID] [int] NOT NULL,
	[Flight ID] [int] NOT NULL,
	[Rate ID] [int] NOT NULL,
	[Seat ID] [int] NOT NULL,
	[Ticket Cost] [int] NOT NULL,
	[Date Reservation] [date] NOT NULL,
 CONSTRAINT [PK_Booked Ticket] PRIMARY KEY CLUSTERED 
(
	[Booked ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City ID] [int] IDENTITY(0,1) NOT NULL,
	[Country ID] [int] NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Country ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight Costs]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight Costs](
	[Costs ID] [int] IDENTITY(0,1) NOT NULL,
	[Flight ID] [int] NOT NULL,
	[Flight Cost] [money] NOT NULL,
 CONSTRAINT [PK_Flight Costs] PRIMARY KEY CLUSTERED 
(
	[Costs ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight Schedules]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight Schedules](
	[Flight ID] [int] IDENTITY(0,1) NOT NULL,
	[AirPort ID] [int] NOT NULL,
	[AirCraft ID] [int] NOT NULL,
	[Origin City ID] [int] NOT NULL,
	[Destination City ID] [int] NOT NULL,
	[Departure Date Time] [date] NOT NULL,
	[Arrival Date Time] [date] NOT NULL,
 CONSTRAINT [PK_Flight Schedules] PRIMARY KEY CLUSTERED 
(
	[Flight ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[Passengers ID] [int] IDENTITY(0,1) NOT NULL,
	[First Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Phone Number] [nvarchar](20) NOT NULL,
	[Email Address] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](8) NOT NULL,
	[Citizenship] [nvarchar](50) NOT NULL,
	[Series and number of passport] [nvarchar](11) NOT NULL,
	[Passport expiration date] [date] NULL,
 CONSTRAINT [PK_Passengers] PRIMARY KEY CLUSTERED 
(
	[Passengers ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Payment ID] [int] IDENTITY(0,1) NOT NULL,
	[Payment Date] [date] NULL,
	[Payment Amount] [money] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Payment ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[Rate ID] [int] NOT NULL,
	[Hand luggage] [nvarchar](3) NULL,
	[Baggage] [nvarchar](3) NULL,
	[Cost] [money] NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[Rate ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation Payments]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation Payments](
	[Reservation ID] [int] NOT NULL,
	[Payment ID] [int] NOT NULL,
 CONSTRAINT [PK_Reservation Payments] PRIMARY KEY CLUSTERED 
(
	[Reservation ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role ID] [int] NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat Number]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat Number](
	[Seat ID] [int] IDENTITY(0,1) NOT NULL,
	[Flight ID] [int] NOT NULL,
	[Travel Class] [nvarchar](8) NOT NULL,
	[Seat Number] [nvarchar](20) NOT NULL,
	[Free] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Seat Number] PRIMARY KEY CLUSTERED 
(
	[Seat ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28.03.2021 20:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User ID] [int] IDENTITY(0,100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role ID] [int] NOT NULL,
	[First Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AirCraft] ON 

INSERT [dbo].[AirCraft] ([AirCraft ID], [AirPort ID], [AirCraft Name], [Business Class Capacity], [Economy Class Capacity]) VALUES (0, 8, N'Туполев Ту - 134', 8, 80)
INSERT [dbo].[AirCraft] ([AirCraft ID], [AirPort ID], [AirCraft Name], [Business Class Capacity], [Economy Class Capacity]) VALUES (1, 7, N'Туполев Ту - 134', 8, 80)
INSERT [dbo].[AirCraft] ([AirCraft ID], [AirPort ID], [AirCraft Name], [Business Class Capacity], [Economy Class Capacity]) VALUES (2, 17, N'Ильюшин ИЛ - 96', 64, 300)
SET IDENTITY_INSERT [dbo].[AirCraft] OFF
GO
SET IDENTITY_INSERT [dbo].[AirPorts] ON 

INSERT [dbo].[AirPorts] ([Airport ID], [Airport Name], [Airport Location]) VALUES (0, N'Национальный аэропорт имени Рональда Рейгана', N'Вашингтон')
INSERT [dbo].[AirPorts] ([Airport ID], [Airport Name], [Airport Location]) VALUES (1, N'Международный аэропорт имени Даллеса', N'Вашингтон')
INSERT [dbo].[AirPorts] ([Airport ID], [Airport Name], [Airport Location]) VALUES (2, N'Международный аэропорт "Балтимор"', N'Вашингтон')
SET IDENTITY_INSERT [dbo].[AirPorts] OFF
GO
SET IDENTITY_INSERT [dbo].[Booked Ticket] ON 

INSERT [dbo].[Booked Ticket] ([Booked ID], [Passenger ID], [Flight ID], [Rate ID], [Seat ID], [Ticket Cost], [Date Reservation]) VALUES (8, 19, 4, 0, 1270, 49430, CAST(N'2021-03-08' AS Date))
INSERT [dbo].[Booked Ticket] ([Booked ID], [Passenger ID], [Flight ID], [Rate ID], [Seat ID], [Ticket Cost], [Date Reservation]) VALUES (9, 20, 6, 1, 1534, 32265, CAST(N'2021-03-08' AS Date))
INSERT [dbo].[Booked Ticket] ([Booked ID], [Passenger ID], [Flight ID], [Rate ID], [Seat ID], [Ticket Cost], [Date Reservation]) VALUES (11, 22, 1, 0, 592, 35030, CAST(N'2021-03-08' AS Date))
SET IDENTITY_INSERT [dbo].[Booked Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([City ID], [Country ID], [Name]) VALUES (0, 39, N'Вашингтон')
INSERT [dbo].[City] ([City ID], [Country ID], [Name]) VALUES (1, 0, N'Москва')
INSERT [dbo].[City] ([City ID], [Country ID], [Name]) VALUES (2, 0, N'Новосибирск')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Country ID], [Name]) VALUES (0, N'Россия')
INSERT [dbo].[Country] ([Country ID], [Name]) VALUES (1, N'Австралия')
INSERT [dbo].[Country] ([Country ID], [Name]) VALUES (2, N'Австрия')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Flight Costs] ON 

INSERT [dbo].[Flight Costs] ([Costs ID], [Flight ID], [Flight Cost]) VALUES (0, 0, 49174.0000)
INSERT [dbo].[Flight Costs] ([Costs ID], [Flight ID], [Flight Cost]) VALUES (1, 1, 35030.0000)
INSERT [dbo].[Flight Costs] ([Costs ID], [Flight ID], [Flight Cost]) VALUES (2, 2, 33413.0000)
SET IDENTITY_INSERT [dbo].[Flight Costs] OFF
GO
SET IDENTITY_INSERT [dbo].[Flight Schedules] ON 

INSERT [dbo].[Flight Schedules] ([Flight ID], [AirPort ID], [AirCraft ID], [Origin City ID], [Destination City ID], [Departure Date Time], [Arrival Date Time]) VALUES (0, 3, 8, 1, 94, CAST(N'2021-03-05' AS Date), CAST(N'2021-03-06' AS Date))
INSERT [dbo].[Flight Schedules] ([Flight ID], [AirPort ID], [AirCraft ID], [Origin City ID], [Destination City ID], [Departure Date Time], [Arrival Date Time]) VALUES (1, 17, 2, 2, 19, CAST(N'2021-03-31' AS Date), CAST(N'2021-03-05' AS Date))
INSERT [dbo].[Flight Schedules] ([Flight ID], [AirPort ID], [AirCraft ID], [Origin City ID], [Destination City ID], [Departure Date Time], [Arrival Date Time]) VALUES (2, 19, 9, 94, 120, CAST(N'2021-03-05' AS Date), CAST(N'2021-03-07' AS Date))
SET IDENTITY_INSERT [dbo].[Flight Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Passengers] ON 

INSERT [dbo].[Passengers] ([Passengers ID], [First Name], [Patronymic], [Surname], [Phone Number], [Email Address], [Gender], [Citizenship], [Series and number of passport], [Passport expiration date]) VALUES (19, N'Константин', N'', N'Шелест', N'(784)688 - 99 - 60', N'orrizennell6269@yopmail.com', N'Мужской', N'Российское', N'3053 175651', CAST(N'2001-12-27' AS Date))
INSERT [dbo].[Passengers] ([Passengers ID], [First Name], [Patronymic], [Surname], [Phone Number], [Email Address], [Gender], [Citizenship], [Series and number of passport], [Passport expiration date]) VALUES (20, N'Мирра', N'Александровна', N'Виноградова', N'(114)837 - 20 - 31', N'besideje-2322@yopmail.com', N'Женский', N'Гражданство Украины', N'5000 192312', CAST(N'1984-10-15' AS Date))
INSERT [dbo].[Passengers] ([Passengers ID], [First Name], [Patronymic], [Surname], [Phone Number], [Email Address], [Gender], [Citizenship], [Series and number of passport], [Passport expiration date]) VALUES (21, N'Ада', N'', N'Константинова', N'(913)848 - 31 - 23', N'ohodedy-4770@yopmail.com', N'Женский', N'Украина', N'5012 329591', CAST(N'1985-05-09' AS Date))
SET IDENTITY_INSERT [dbo].[Passengers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Payment ID], [Payment Date], [Payment Amount]) VALUES (15, CAST(N'2021-03-08' AS Date), 49430.0000)
INSERT [dbo].[Payments] ([Payment ID], [Payment Date], [Payment Amount]) VALUES (16, CAST(N'2021-03-08' AS Date), 32265.0000)
INSERT [dbo].[Payments] ([Payment ID], [Payment Date], [Payment Amount]) VALUES (18, CAST(N'2021-03-08' AS Date), 35030.0000)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[Rate] ([Rate ID], [Hand luggage], [Baggage], [Cost]) VALUES (0, N'Yes', N'No', 0.0000)
INSERT [dbo].[Rate] ([Rate ID], [Hand luggage], [Baggage], [Cost]) VALUES (1, N'No', N'Yes', 2500.0000)
INSERT [dbo].[Rate] ([Rate ID], [Hand luggage], [Baggage], [Cost]) VALUES (2, N'Yes', N'Yes', 2500.0000)
GO
INSERT [dbo].[Reservation Payments] ([Reservation ID], [Payment ID]) VALUES (8, 15)
INSERT [dbo].[Reservation Payments] ([Reservation ID], [Payment ID]) VALUES (9, 16)
INSERT [dbo].[Reservation Payments] ([Reservation ID], [Payment ID]) VALUES (11, 18)
GO
INSERT [dbo].[Roles] ([Role ID], [Name]) VALUES (0, N'Главный Администратор')
INSERT [dbo].[Roles] ([Role ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Role ID], [Name]) VALUES (2, N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[Seat Number] ON 

INSERT [dbo].[Seat Number] ([Seat ID], [Flight ID], [Travel Class], [Seat Number], [Free]) VALUES (0, 0, N'Business', N'1A', N'Yes')
INSERT [dbo].[Seat Number] ([Seat ID], [Flight ID], [Travel Class], [Seat Number], [Free]) VALUES (1, 0, N'Business', N'2A', N'Yes')
INSERT [dbo].[Seat Number] ([Seat ID], [Flight ID], [Travel Class], [Seat Number], [Free]) VALUES (2, 0, N'Business', N'3A', N'Yes')
GO
SET IDENTITY_INSERT [dbo].[Seat Number] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User ID], [Login], [Password], [Role ID], [First Name], [Patronymic], [Surname]) VALUES (0, N'admin', N'admin4ik', 0, N'Геннадий', N'Федосеевич', N'Романов')
INSERT [dbo].[Users] ([User ID], [Login], [Password], [Role ID], [First Name], [Patronymic], [Surname]) VALUES (100, N'PutinImmortal', N'immortal', 1, N'Владимир', N'Владимирович', N'Путин')
INSERT [dbo].[Users] ([User ID], [Login], [Password], [Role ID], [First Name], [Patronymic], [Surname]) VALUES (200, N'Shchukin.SE', N'1YeKyktf', 2, N'Себастьян', N'Эльдарович', N'Щукин')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AirCraft]  WITH CHECK ADD  CONSTRAINT [FK_AirCraft_AirPorts] FOREIGN KEY([AirPort ID])
REFERENCES [dbo].[AirPorts] ([Airport ID])
GO
ALTER TABLE [dbo].[AirCraft] CHECK CONSTRAINT [FK_AirCraft_AirPorts]
GO
ALTER TABLE [dbo].[Booked Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Booked Ticket_Flight Schedules] FOREIGN KEY([Flight ID])
REFERENCES [dbo].[Flight Schedules] ([Flight ID])
GO
ALTER TABLE [dbo].[Booked Ticket] CHECK CONSTRAINT [FK_Booked Ticket_Flight Schedules]
GO
ALTER TABLE [dbo].[Booked Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Booked Ticket_Passengers] FOREIGN KEY([Passenger ID])
REFERENCES [dbo].[Passengers] ([Passengers ID])
GO
ALTER TABLE [dbo].[Booked Ticket] CHECK CONSTRAINT [FK_Booked Ticket_Passengers]
GO
ALTER TABLE [dbo].[Booked Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Booked Ticket_Rate] FOREIGN KEY([Rate ID])
REFERENCES [dbo].[Rate] ([Rate ID])
GO
ALTER TABLE [dbo].[Booked Ticket] CHECK CONSTRAINT [FK_Booked Ticket_Rate]
GO
ALTER TABLE [dbo].[Booked Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Booked Ticket_Seat Number] FOREIGN KEY([Seat ID])
REFERENCES [dbo].[Seat Number] ([Seat ID])
GO
ALTER TABLE [dbo].[Booked Ticket] CHECK CONSTRAINT [FK_Booked Ticket_Seat Number]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([Country ID])
REFERENCES [dbo].[Country] ([Country ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[Flight Costs]  WITH CHECK ADD  CONSTRAINT [FK_Flight Costs_Flight Schedules] FOREIGN KEY([Flight ID])
REFERENCES [dbo].[Flight Schedules] ([Flight ID])
GO
ALTER TABLE [dbo].[Flight Costs] CHECK CONSTRAINT [FK_Flight Costs_Flight Schedules]
GO
ALTER TABLE [dbo].[Flight Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Flight Schedules_AirCraft] FOREIGN KEY([AirCraft ID])
REFERENCES [dbo].[AirCraft] ([AirCraft ID])
GO
ALTER TABLE [dbo].[Flight Schedules] CHECK CONSTRAINT [FK_Flight Schedules_AirCraft]
GO
ALTER TABLE [dbo].[Flight Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Flight Schedules_AirPorts] FOREIGN KEY([AirPort ID])
REFERENCES [dbo].[AirPorts] ([Airport ID])
GO
ALTER TABLE [dbo].[Flight Schedules] CHECK CONSTRAINT [FK_Flight Schedules_AirPorts]
GO
ALTER TABLE [dbo].[Flight Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Flight Schedules_City] FOREIGN KEY([Origin City ID])
REFERENCES [dbo].[City] ([City ID])
GO
ALTER TABLE [dbo].[Flight Schedules] CHECK CONSTRAINT [FK_Flight Schedules_City]
GO
ALTER TABLE [dbo].[Flight Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Flight Schedules_City1] FOREIGN KEY([Destination City ID])
REFERENCES [dbo].[City] ([City ID])
GO
ALTER TABLE [dbo].[Flight Schedules] CHECK CONSTRAINT [FK_Flight Schedules_City1]
GO
ALTER TABLE [dbo].[Reservation Payments]  WITH CHECK ADD  CONSTRAINT [FK_Reservation Payments_Booked Ticket] FOREIGN KEY([Reservation ID])
REFERENCES [dbo].[Booked Ticket] ([Booked ID])
GO
ALTER TABLE [dbo].[Reservation Payments] CHECK CONSTRAINT [FK_Reservation Payments_Booked Ticket]
GO
ALTER TABLE [dbo].[Reservation Payments]  WITH CHECK ADD  CONSTRAINT [FK_Reservation Payments_Payments] FOREIGN KEY([Payment ID])
REFERENCES [dbo].[Payments] ([Payment ID])
GO
ALTER TABLE [dbo].[Reservation Payments] CHECK CONSTRAINT [FK_Reservation Payments_Payments]
GO
ALTER TABLE [dbo].[Seat Number]  WITH CHECK ADD  CONSTRAINT [FK_Seat Number_Flight Schedules] FOREIGN KEY([Flight ID])
REFERENCES [dbo].[Flight Schedules] ([Flight ID])
GO
ALTER TABLE [dbo].[Seat Number] CHECK CONSTRAINT [FK_Seat Number_Flight Schedules]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role ID])
REFERENCES [dbo].[Roles] ([Role ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
